// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
/*
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

/* VARIABLES */
$link: #222;
$visited: #222;
$hover: #F30036;
$active: #222;
$white: #fff;
$animate: all 0.2s ease-in-out;
$lightGgreen: #2E6F03;
$darkGreen: #194101;

/* LINKS */
a {
    color: $link;

    &:visited {
        color: $visited;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}

/* BREADCRUMB */
.breadcrumb {
    background-color: $hover; //rgb(203, 239, 182);

    .breadcrumb-item {
        color: $white;

        &:before {
            color: $white;
            font-weight: bold;
        }

        a {
            color: $white;
        }

        &.active {
            font-weight: bold;
            text-decoration: underline;
            text-decoration-color: $white;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;

        }
    }
}

/* CONTACTS FORM */

.bg-contacts {background-color: #CFD8DC}


/* NAVIGATION  MENU */
.navmenu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /*margin: 0 0 45px;*/
    font-family: 'Lemonada', cursive;

    .hover {
        //font-size: 36px;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        transition: $animate;
        position: relative;

        a {
            color: $link;
            font-size: 14px;

            &:hover {
                color: $hover;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 0px;
            height: 3px;
            margin: 10px 0 0;
            transition: $animate;
            transition-duration: 0.35s;
            opacity: 0;
            background-color: $hover;
        }

        &.hover-1 {

            &:before,
            &:after {
                left: 0;
            }
        }

        &.hover-2 {

            &:before,
            &:after {
                right: 0;
            }
        }

        &.hover-3 {
            &:before {
                left: 50%;
            }

            &:after {
                right: 50%;
            }
        }

        &.hover-4 {
            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }
    }


    &:hover {
        cursor: pointer;


        .hover {

            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }

            &.hover-3,
            &.hover-4 {

                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
    }

}
