@import url(https://fonts.googleapis.com/css?family=Nunito);/*
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

/* VARIABLES */

/* LINKS */

a {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {
  color: #F30036;
}

a:active {
  color: #222;
}

/* BREADCRUMB */

.breadcrumb {
  background-color: #F30036;
}

.breadcrumb .breadcrumb-item {
  color: #fff;
}

.breadcrumb .breadcrumb-item:before {
  color: #fff;
  font-weight: bold;
}

.breadcrumb .breadcrumb-item a {
  color: #fff;
}

.breadcrumb .breadcrumb-item.active {
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

/* CONTACTS FORM */

.bg-contacts {
  background-color: #CFD8DC;
}

/* NAVIGATION  MENU */

.navmenu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-align: center;
          align-items: center;
  /*margin: 0 0 45px;*/
  font-family: "Lemonada", cursive;
}

.navmenu .hover {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.navmenu .hover a {
  color: #222;
  font-size: 14px;
}

.navmenu .hover a:hover {
  color: #F30036;
}

.navmenu .hover:before,
.navmenu .hover:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 3px;
  margin: 10px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  opacity: 0;
  background-color: #F30036;
}

.navmenu .hover.hover-1:before,
.navmenu .hover.hover-1:after {
  left: 0;
}

.navmenu .hover.hover-2:before,
.navmenu .hover.hover-2:after {
  right: 0;
}

.navmenu .hover.hover-3:before {
  left: 50%;
}

.navmenu .hover.hover-3:after {
  right: 50%;
}

.navmenu .hover.hover-4:before {
  left: 0;
}

.navmenu .hover.hover-4:after {
  right: 0;
}

.navmenu:hover {
  cursor: pointer;
}

.navmenu:hover .hover:before,
.navmenu:hover .hover:after {
  width: 100%;
  opacity: 1;
}

.navmenu:hover .hover.hover-3:before,
.navmenu:hover .hover.hover-3:after,
.navmenu:hover .hover.hover-4:before,
.navmenu:hover .hover.hover-4:after {
  width: 50%;
}

