@import url('https://fonts.googleapis.com/css?family=Lemonada|Roboto');

body,
html {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Lemonada', cursive;*/
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}



html,
body {
    height: 100%;
}

.orderme {
    cursor: move;
}

/*
***************************************************
* WIP PAGE
***************************************************
*/
.wip {
    background: url(../images/bg_wip.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.wip-text {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 18px 0 15px;
}
/*
.body-content {
    margin-top: 60px;
}
*/
.content-container {
    margin-top: 80px;
}

/*
* /WIP PAGE



.header-content {
    margin-top: 35px;
}

.site-section-title h2 {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1em;
}

.card-title {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1em;
}

/*
***************************************************
* ICON OVER IMAGE
***************************************************
*/
.img {
    position: relative;
}

.img .icon {
    top: 10px;
    left: 10px;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
}

/*
***************************************************
* SELECTED IMAGES
***************************************************
*/
.border-selected {
    border-width: 5px !important;
}



/*
***************************************************
* MULTILEVEL MENU
***************************************************
*/
.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}

.site-menu .active>a {
    background-color: #f89d13;
    color: #333;
}

.site-menu .active>a:hover {
    color: #333;
}

.site-menu a {
    text-decoration: none !important;
    display: inline-block;
    font-weight: 500;
}

.site-menu>li {
    display: inline-block;
    padding: 5px 5px;
}

.site-menu>li>a {
    padding: 10px 10px;
    letter-spacing: .05em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none !important;
}
/*
.site-menu>li>a:hover {
    color: #F30036;
    text-decoration: underline;
}
*/
.site-menu>li:last-child {
    padding-right: 0;
}

.site-menu>li:last-child>a {
    padding-right: 0;
}

/*
***************************************************
* FOOTER
***************************************************
*/
.footer {
    background-color: #333333;
}


/*
***************************************************
* CONTACT FORM
***************************************************
*/
form span.error {
    color: #ff0000;
    position: absolute;
    /*top: 30px;*/
    bottom: -25px;

}



.contact-form {
    /*background: #333;*/
    margin-top: 10%;
    margin-bottom: 5%;
    /*width: 70%;*/
}

/*
.contact-form .form-control {
    border-radius: 1rem;
}
*/
.contact-image {
    text-align: center;
}

.contacts-logo {
    /*
    width: 200px;
    height: 200px;
    line-height: 200px;
    */
    text-align: center;
    /*
    top: -100px;
    position: relative;
    */
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

/*
.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}
*/
.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/*
***************************************************
* CROP IMAGES
***************************************************
*/
/*
.thumb-crop img {
    object-fit: none;
    /* Do not scale the image * /
    object-position: center;
    /* Center the image within the element * /
    width: 100%;
    max-height: 300px;
    margin-bottom: 1rem;
}
*/
.crop {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*
***************************************************
* CONTENT AROUND IMAGES
***************************************************
*/
.contentImg-250 {
    width: 250px;
    height: auto;
}

.contentImg-500 {
    width: 500px;
    height: auto;
}

/*
***************************************************
* SLIDER
***************************************************
*/

.slide-one-item {
    position: relative;
    z-index: 1;
}

.slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #fff;
}

.slide-one-item .owl-nav .owl-prev.disabled,
.slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2;
}

.slide-one-item.home-slider .owl-nav {
    position: absolute !important;
    top: 50% !important;
    bottom: auto !important;
    width: 100%;
}

.slide-one-item.home-slider .owl-prev {
    left: 10px !important;
}

.slide-one-item.home-slider .owl-next {
    right: 10px !important;
}

.slide-one-item.home-slider .owl-prev,
.slide-one-item.home-slider .owl-next {
    color: #fff;
    position: absolute !important;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
}

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.site-blocks-cover .text {
    text-align: left;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #fff;
    padding: 40px;
    width: 50%;
}

.slide-one-item.home-slider .owl-prev>span,
.slide-one-item.home-slider .owl-next>span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slide-one-item.home-slider .owl-prev:hover,
.slide-one-item.home-slider .owl-prev:focus,
.slide-one-item.home-slider .owl-next:hover,
.slide-one-item.home-slider .owl-next:focus {
    background: black;
}

.slide-one-item.home-slider:hover .owl-nav,
.slide-one-item.home-slider:focus .owl-nav,
.slide-one-item.home-slider:active .owl-nav {
    opacity: 10;
    visibility: visible;
}


.site-blocks-cover .text h2 {
    font-weight: 300;
    font-size: 20px;
    color: #000;
}

.site-blocks-cover .text .location {
    font-size: 15px;
    color: #777;
}

.site-blocks-cover .text .location span {
    display: inline-block;
    margin-right: 5px;
}

.site-blocks-cover .text strong {
    font-weight: 700;
    font-size: 20px;
    color: #7cbd1e;
}

.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 134px);
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
    min-height: 200px;
    height: calc(20vh);
}

.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em;
}

.site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    font-weight: normal;
}

.site-blocks-cover p {
    color: black;
    line-height: 1.5;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-blocks-cover.subscribe h2 {
    font-size: 20px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.site-blocks-cover.subscribe p {
    font-size: 1rem !important;
    font-weight: 100;
}

.site-blocks-cover .property-offer-type {
    letter-spacing: .2em;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*
*******************************************
*
* CUSTOM SWITCH
*
*******************************************
*/

.custom-control.border-switch {
    padding-left: 0;
    cursor: pointer;
}

.custom-control.border-switch-green {
    --color: #4cd964;
    /* definizione variabile color */
}

.custom-control.border-switch .border-switch-control-input {
    display: none;
}

.custom-control.border-switch .border-switch-control-input:checked~.border-switch-control-indicator {
    border-color: var(--color);
    /* interpreta variabile */
}

.custom-control.border-switch .border-switch-control-input:checked~.border-switch-control-indicator::after {
    left: 14px;
    background-color: var(--color);
}

.custom-control.border-switch .border-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ccc;
}

.custom-control.border-switch .border-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #ccc;
}

/*
*******************************************
*
* OVERRIDE MULTISELECT
*
*******************************************
*/

.btn-white-group {
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}



/*
*******************************************
*
* DROPZONE
*
*******************************************
*/

.dropzone {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    background-color: #c8dadf;
    border: none;
    border-radius: 0;
    /*
    border: 2px dashed #CCC;
    background-color: #FAFAFA;
    border-radius: 6px;
    */
}

.dropzone .dz-default.dz-message {
    height: 50px;
    background-size: 132px 132px;
    margin-top: -101.5px;
    background-position-x: center;
}

.dropzone .dz-default.dz-message span {
    display: block;
    /*margin-top: 145px;*/
    /*font-size: 20px;*/
    text-align: center;
    color: #0f3c4b;
}

.dropzone .check-icon {
    color: #92b0b3;
    margin-bottom: 20px;
}

.dropzone .title1 {
    font-size: 20px;
    font-weight: bold;
}

.dropzone .title2 {
    font-size: 16px;
}


/*
*******************************************
*
* UPLOADER
*
*******************************************
*/
#debug {
    overflow-y: scroll !important;
    height: 180px;
}

.dm-uploader {
    border: 0.25rem dashed #A5A5C7;
    text-align: center;
}

.dm-uploader.active {
    border-color: red;

    border-style: solid;
}

.uploader-list {
    overflow-y: scroll;
}


/*
*******************************************
*
* GALLERIES
*
*******************************************
*/
.banner {
    height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

/*
*******************************************
*
* MEDIA QUERIES
*
*******************************************
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    figure.snip1477 h2,
    figure.snip1477 h4 {
        font-size: 0.9rem;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    figure.snip1477 h2,
    figure.snip1477 h4 {
        font-size: 0.7rem;
    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*
@media (min-width: 768px) {
    .slide-one-item.home-slider .owl-prev,
    .slide-one-item.home-slider .owl-next {
        font-size: 25px;
    }
}


@media (max-width: 991.98px) {
    .site-blocks-cover .text {
        padding: 20px;
        left: 10px;
    }
}
*/
